bottle==0.13.4
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
clr_loader==0.2.10
idna==3.11
Nuitka==4.0
proxy_tools==0.1.0
pycparser==3.0
python-dotenv==1.2.1
pythonnet==3.0.5
pywebview==6.1
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.6.3
websockets==16.0
