@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition-duration: 300ms;
  scroll-behavior: smooth;
}

html {
  scrollbar-color: #50faab #1815268b;
  scrollbar-width: thin;
}

body {
  overflow-y: scroll !important;
}

.frame {
  background-color: #50faab;
  background-image: linear-gradient(264deg, #50faab, #1fd6f7);
  animation: fadeIn 5s infinite;
}
.header {
  grid-area: 1 / 1 / 2 / 4;
}
.presences {
  grid-area: 2 / 1 / 3 / 4;
}

@media screen and (min-width: 1025px) {
  .filters {
    grid-area: 2 / 1 / 3 / 2;
  }
  .presences {
    grid-area: 2 / 2 / 3 / 4;
  }
}

@media screen and (max-width: 1024px) {
  .section-container {
    top: 0 !important;
    height: 100% !important;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}
