anyio==4.2.0
certifi==2024.2.2
CTkMessagebox==2.5
customtkinter==5.2.2
darkdetect==0.8.0
h11==0.14.0
httpcore==1.0.2
httpx==0.26.0
httpx-ws==0.4.3
idna==3.6
packaging==23.2
pillow==10.2.0
psutil==5.9.8
pypresence==4.3.0
PyYAML==6.0.1
sniffio==1.3.0
wsproto==1.2.0
