@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(63 63 70 / 0.5);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(82 82 91 / 0.6);
}

*:focus-visible {
  outline: 1px solid rgb(16 185 129 / 0.5);
  outline-offset: 2px;
}

::selection {
  background: rgb(16 185 129 / 0.2);
  color: inherit;
}
